@font-face {
  font-family: 'Verdana';
  src: url('Verdana.svg#Verdana') format('svg'),
       url('Verdana.ttf') format('truetype'),
       url('Verdana.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'verdana';
  src: url('verdana.eot');
  src: url('verdana.eot?#iefix') format('embedded-opentype'),
       url('verdana.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

