*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
@font-face {
    font-family: 'Verdana';
    src: url('Verdana.svg#Verdana') format('svg'),
         url('Verdana.ttf') format('truetype'),
         url('Verdana.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'verdana';
    src: url('verdana.eot');
    src: url('verdana.eot?#iefix') format('embedded-opentype'),
         url('verdana.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }  
.header{
    max-width: 100%;
    height: 45px;
    background-color: #124568;
}
.container{
    width: 1395px;
    margin: 0 auto;
}
                        /* логотип и флаги */
.logo{
    margin-top: 15px;
}
.ekran{
    background-image: url(../img/ekran.png);
    background-repeat: no-repeat;
    width: 690px;
    height: 470px;
    float: right;
    margin-top: -654px;
    display: block;
}
.ekran1 img{
    width: 683px;
    height: 465px;
    float: right;
    margin-top: -30px;
}


.flags{
    display: flex;
    list-style-type: none;
    margin-left: 238px;
    margin-bottom: 28px;
}
.flags li a img{
    width: 20px;
    box-shadow: 7px 0px 4px rgb(0 0 0 / 34%);
    border-radius: 15px;
    margin-right: 35px;
}
.flags li a img {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.flags li a img:hover {
    -webkit-filter: opacity(25%);
}
.piclogo{
    width: 500px;
    float: left;
    margin-left: 105px;
}
                    /* кнопка*/
.nav {
    min-width: 179px;
    height: 290px;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 0;
    /* сдвигаем (прячем) панель относительно левого края страницы */
    left: -320px;
    /* внутренние отступы */
    padding: 15px 20px;
    /* плавный переход смещения панели */
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    transition: left 0.3s;
    /* определяем цвет фона панели */
    background: #124568;
    /* поверх других элементов */
    z-index: 2000;
}

.nav-toggle {
    position: absolute;
    left: 500px;
    top: 49px;
    padding: 24px 9px 24px 9px;
    background: inherit;
    color: white;
    cursor: pointer;
    font-size: 67px;
    line-height: 0;
    z-index: 2001;
    -webkit-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
}

.nav-toggle:after {
    content: '\003D';
    text-decoration: none;
}

.nav-toggle:hover {
    color: #f4f4f4;
}

[id='nav-toggle'] {
    position: absolute;
    display: none;
}

[id='nav-toggle']:checked ~ .nav > .nav-toggle {
    left: auto;
    right: 2px;
    top: 0em;
    font-size: 15px;
}

[id='nav-toggle']:checked ~ .nav {
    left: 0;
    box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
    -moz-box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
    -webkit-box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
    overflow-y: auto;
}

[id='nav-toggle']:checked ~ main > article {
    -webkit-transform: translateX(320px);
    -moz-transform: translateX(320px);
    transform: translateX(320px);
}
 
[id='nav-toggle']:checked ~ .nav > .nav-toggle:after {
    content: '\2715';
}

body {
    -webkit-animation: bugfix infinite 1s;
}
 
@-webkit-keyframes bugfix {
    to {
      padding: 0;
    }
}
 
@media screen and (min-width: 320px) {
    html,
    body {
      margin: 0;
      overflow-x: hidden;
    }
}
 
@media screen and (max-width: 320px) {
    html,
    body {
      margin: 0;
      overflow-x: hidden;
    }
    .nav {
      width: 100%;
      box-shadow: none
    }
}

[id='nav-toggle']:checked ~ .nav h2 {
    opacity: 1;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
}

.nav > ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
 
.nav > ul > li {
    line-height: 2.5;
    opacity: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: opacity .5s .1s, -webkit-transform .5s .1s;
    -moz-transition: opacity .5s .1s, -moz-transform .5s .1s;
    -ms-transition: opacity .5s .1s, -ms-transform .5s .1s;
    transition: opacity .5s .1s, transform .5s .1s;
}
 
[id='nav-toggle']:checked ~ .nav > ul > li {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
 
.nav > ul > li:nth-child(2) {
    -webkit-transition: opacity .5s .2s, -webkit-transform .5s .2s;
    transition: opacity .5s .2s, transform .5s .2s;
}
 
.nav > ul > li:nth-child(3) {
    -webkit-transition: opacity .5s .3s, -webkit-transform .5s .3s;
    transition: opacity .5s .3s, transform .5s .3s;
}
 
.nav > ul > li:nth-child(4) {
    -webkit-transition: opacity .5s .4s, -webkit-transform .5s .4s;
    transition: opacity .5s .4s, transform .5s .4s;
}
 
.nav > ul > li:nth-child(5) {
    -webkit-transition: opacity .5s .5s, -webkit-transform .5s .5s;
    transition: opacity .5s .5s, transform .5s .5s;
}
 
.nav > ul > li:nth-child(6) {
    -webkit-transition: opacity .5s .6s, -webkit-transform .5s .6s;
    transition: opacity .5s .6s, transform .5s .6s;
}
 
.nav > ul > li:nth-child(7) {
    -webkit-transition: opacity .5s .7s, -webkit-transform .5s .7s;
    transition: opacity .5s .7s, transform .5s .7s;
}

.nav > ul > li > a {
    display: inline-block;
    position: relative;
    padding: 0;
    font-family: 'Verdana', sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: white;
    width: 100%;
    text-decoration: none;
    /* плавный переход */
    -webkit-transition: color .5s ease, padding .5s ease;
    -moz-transition: color .5s ease, padding .5s ease;
    transition: color .5s ease, padding .5s ease;
}

.nav > ul > li > a:hover,
.nav > ul > li > a:focus {
    color: white;
    padding-left: 15px;
}

.nav > ul > li > a:before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    -webkit-transition: width 0s ease;
    transition: width 0s ease;
}
 
.nav > ul > li > a:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: #7d3830;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
}

.nav > ul > li > a:hover:before {
    width: 0%;
    background: #7d3830;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
}
 
.nav > ul > li > a:hover:after {
    width: 0%;
    background: transparent;
    -webkit-transition: width 0s ease;
    transition: width 0s ease;
}

                    /* KRUGI */
.krug1 img{
    width: 345px;
    float: left;
    margin-top: 58px;
    margin-left: 27px
}
.krug2 img{
    width: 180px;
    margin-top: 105px;
    margin-left: -204px;
}
.krug3 img{
    width: 92px;
    float: right;
    margin-right: 42px;
}
.krug4 img{
    width: 210px;
    margin-top: 94px;
    margin-left: -13px;
}
.krug6n img{
    width: 143px;
    float: left;
    margin-top: -146px;
}
.krug5 img{
    width: 100px;
    float: left;
    margin-top: -140px;
    margin-left: 76px;
}
.krug6 img{
    width: 162px;
    margin-left: 456px;
    margin-top: -168px;
    margin-bottom: 12px;
}
.krug7 img{
    width: 120px;
    float: right;
    margin-right: 458px;
    margin-top: -165px;
}
.krug2n img{
    width: 180px;
    float: right;
    margin-right: 229px;
    margin-top: -206px;
}
.krug3n img{
    width: 92px;
    float: right;
    margin-right: 89px;
    margin-top: -131px;
}
.footer{
    max-width: 100%;
    height: 21px;
    background-color: #124568;
}
/* если бесконечно в конце infinite */
.krug1 img:hover {
    animation: rotation 1s linear  infinite ;
}
.krug2 img:hover {
    animation: rotation 1s linear  infinite ;
}
.krug3 img:hover {
    animation: rotation 1s linear infinite;
}
.krug4 img:hover {
    animation: rotation 1s linear infinite ;
}
.krug5 img:hover {
    animation: rotation 1s linear  infinite ;
}
.krug6 img:hover {
    animation: rotation 1s linear  infinite ;
}
.krug7 img:hover {
    animation: rotation 1s linear  infinite ;
}
.krug6n img:hover {
    animation: rotation 1s linear  infinite ;
}
.krug2n img:hover {
    animation: rotation 1s linear  infinite ;
}
.krug3n img:hover {
    animation: rotation 1s linear  infinite ;
}
@keyframes rotation { 
    to{ transform: rotate(360deg)}
}

                    /* ABOUT */
.about-text{
    margin-top: 180px;
}
.about-text h2{
    text-align: center;
    font-family: 'Verdana', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #8c1c1c;
}
.about-text p{
    font-family: 'Verdana', sans-serif;
    font-size: 33px;
    color: #124568;
    padding: 30px 0px 30px 46px;
}
                    /* CONTACT */
.contact-text{
    margin-top: 180px;
}
.contact-text h2{
    text-align: center;
    font-family: 'Verdana', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #8c1c1c;
}
.nomer p{
    font-family: 'Verdana', sans-serif;
    font-size: 25px;
    color: #124568;
    padding: 30px 0px 30px 46px;
}
.adress p{
    font-family: 'Verdana', sans-serif;
    font-size: 25px;
    color: #8c1c1c;
    padding: 0px 0px 30px 46px;
}
.ssilki a{
    font-family: 'Verdana', sans-serif;
    font-size: 25px;
    color: #124568;
    padding: 30px 0px 30px 46px;
}
.buhgal p{
    font-family: 'Verdana', sans-serif;
    font-size: 25px;
    color: #8c1c1c;
    padding: 30px 0px 0px 46px;
}
.buhgal a{
    font-family: 'Verdana', sans-serif;
    font-size: 25px;
    color: #8c1c1c;
    padding: 30px 0px 0px 46px;
}
                        /* location */
.location-text{
    margin-top: 180px;
}
.location-text h2{
    text-align: center;
    font-family: 'Verdana', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #8c1c1c;
}
.map{
    padding: 30px 0px 30px 46px;
}
.ulica p{
    font-family: 'Verdana', sans-serif;
    font-size: 21px;
    color: #124568;
    padding: 0px 0px 16px 46px;
}
                    /* certificates */
.certific-text{
    margin-top: 180px;
}
.certific-text h2{
    text-align: center;
    font-family: 'Verdana', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #8c1c1c;
}
.cert-nr{
    font-family: 'Verdana', sans-serif;
    font-size: 25px;
    color: #124568;
    padding: 30px 0px 30px 46px;
}
.sert-ssilki{
    margin-bottom: 50px;
}
.sert-ssilki a{
    font-family: 'Verdana', sans-serif;
    font-size: 25px;
    color: #124568;
    padding: 30px 0px 0px 46px;
}
                    /* team */
.team-text{
    margin-top: 180px;
}
.team-text h2{
    text-align: center;
    font-family: 'Verdana', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #8c1c1c;
}
.pers1 p{
    font-family: 'Verdana', sans-serif;
    font-size: 25px;
    color: #124568;
    padding: 30px 0px 0px 46px;
}
.pers1 a{
    font-family: 'Verdana', sans-serif;
    font-size: 21px;
    color: #8c1c1c;
    padding: 30px 0px 0px 46px;
}
.pers2 p{
    font-family: 'Verdana', sans-serif;
    font-size: 25px;
    color: #124568;
    padding: 30px 0px 0px 46px;
}
.pers2 a{
    font-family: 'Verdana', sans-serif;
    font-size: 21px;
    color: #8c1c1c;
    padding: 30px 0px 0px 46px;
}
.pers3 p{
    font-family: 'Verdana', sans-serif;
    font-size: 25px;
    color: #124568;
    padding: 30px 0px 0px 46px;
}
.pers3 a{
    font-family: 'Verdana', sans-serif;
    font-size: 21px;
    color: #8c1c1c;
    padding: 30px 0px 0px 46px;
}
                    /* job */
.job-text{
    margin-top: 180px;
}
.job-text h2{
    text-align: center;
    font-family: 'Verdana', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #8c1c1c;
}
.job-vac{
    margin-bottom: 257px;
}