@media all and (max-width: 1370px){
    .logo{
        margin-left: 20px;
    }
    .wrapper{
        margin-left: 80px;
    }
}

@media all and (max-width: 1315px){
    .logo{
        margin-left: 23px;
    }
    .infoabout{
        max-width: 1180px;
    }
    .wrapper{
        margin-left: 70px;
    }
}

@media all and (max-width: 1300px){
    .logo{
        margin-left: 26px;
    }
    
    .wrapper{
        margin-left: 60px;
    }

    .about {
        max-width: 1210px;
    }
}

@media all and (max-width: 1290px){     
    .wrapper{
        margin-left: 50px;
    }
 
}

@media all and (max-width: 1280px){
    .wrapper{
        margin-left: 40px;
    }
    .tovar {
        width: 1185px;
    }
}

@media all and (max-width: 1270px){
    .wrapper{
        margin-left: 30px;
    }
    .tovar{
        width: 1185px;
    }   
}

@media all and (max-width: 1260px){
    .labels p {
        max-width: 540px;
    }
 
    #room {
        width: 400px;
        }
    .labels ul {
        max-width: 80px;
        display: flex;
        margin-left: -217px;
        margin-top: 30px;
    }
    .labels ul li {
        margin-right: 61px;
}
    .delivery, .guarantee, .quality {
        min-width: 300px;
        margin-right: 0px;
}
    .catalog {
        height: 1335px;
}
    form.searchmebel button {
        margin-right: 30px;
    }
    .about{
        max-width: 980px;
    }
    .tovar {
        width: 945px;
    }
    .categories ul li a {
        font-size: 15px;
        margin-right: 20px;
    }

    .view {
        margin-top: 400px;
        margin-left: 655px;
    }

    .man p {
        width: 267px;
    }
    .woman p {
        width: 267px;
    }

    .man {
        width: 449px;
        margin-bottom: 10px;
    }

    .woman {
        width: 450px;
    }
    .container-footer {
        max-width: 890px;
    }

    .reward {
        max-width: 723px;
        margin-left: 323px;
}
}

@media all and (max-width: 1080px){
    .container-footer {
        margin-left: 95px;
    }
}

@media all and (max-width: 1000px){
    .container-footer {
        margin-left: 95px;
    }
    .reward ul {
        max-width: 1131px;
        margin-left: 80px;
        margin-top: -215px;
        flex-direction: column;
    }
    .reward ul li {
        margin-bottom: 50px;
    }
    .reward h2 {
        margin-bottom: 0px;
    }
    .tovar {
        width: 888px;
    }
    #room {
        width: 300px;
    }
    .labels p {
        max-width: 415px;
        font-size: 14px;
    }
    .labels a {
        margin-left: 130px;
}
    .cards {
        display: flex;
        flex-wrap: wrap;
}
    .delivery, .guarantee, .quality {
        margin-right: 30px;
}
    .quality{
        margin-left: 66px;
        margin-top: 20px;
}
    .service {
        height: 620px;
}
    .people {
        display: flex;
        flex-direction: column;
}
.clients {
    height: 680px;
}
.view a {
    font-size: 14px;
    padding: 13px 13px 13px 13px;
}
}
@media all and (max-width: 935px){
    .tovar {
        width: 733px;
    }
    form.searchmebel input[type=text] {
        font-size: 16px;
        width: 225px;
        height: 35px;
        margin-top: 14px;
    }
    form.searchmebel button {
        width: 40px;
        height: 36px;
        margin-left: -40px;
        font-size: 16px;
        margin-top: 14px;
        margin-right: 67px;
    }
    .categories ul {
        width: 305px;
        flex-wrap: wrap;
    }
    .categories ul li a {
        font-size: 15px;
        margin-right: 12px;
    }
    .catalog {
        height: 1775px;
    }
    .view {
        margin-top: 995px;
        margin-left: 240px;
    }

    .seti p {
        font-size: 25px;
    }
    .seti ul li a {
        font-size: 12px;
    }
    .seti .fa-facebook-f, .fa-instagram, .fa-twitter, .fa-linkedin-in {
        font-size: 20px;
    }

    form.mail input[type=text] {
        width: 145px;
        height: 30px;
    }
    form.mail button {
        width: 40px;
        height: 30px;
        font-size: 10px;
        padding: 7px;
    }

    .news ul li p {
        width: 145px;
        height: 35px;
        font-size: 15px;
    }
}

@media all and (max-width: 860px){
    .service {
        height: 940px;
    }
    .delivery, .guarantee, .quality {
        margin-left: 250px;
    }

    .textup2 {
        margin-left: 125px;
    }
    .fa-phone-alt, .fa-envelope {
        font-size: 10px;
        padding: 6px 6px 6px 6px;
        margin-right: 0px;
    }
    .linkss h3 {
        margin-top: 13px;
        margin-bottom: 15px;
        font-size: 15px;
    }
    .linkss ul li a {
        font-size: 10px;
    }
    .faq h3 {
        margin-top: 13px;
        margin-bottom: 15px;
        font-size: 15px;
    }
    .faq ul li a {
        font-size: 10px;
    }
    .news h3 {
        font-size: 15px;
        margin-bottom: 15px;
        margin-top: 4px;
    }
    form.mail input[type=text] {
        width: 120px;
        height: 30px;
        font-size: 10px;
    }
    form.mail button {
        width: 35px;
        height: 30px;
        font-size: 9px;
    }

    .news ul li p {
        width: 120px;
        font-size: 13px;
    }
}

@media all and (max-width: 805px){
    .header-info ul li a {
        font-size: 13px;
    }
    .linegorizont h3 {
        width: 339px;
        font-size: 22px;
    }
    .linegorizont p {
        width: 355px;
        font-size: 15px;
    }
    .linegorizont a {
        width: 122px;
        font-size: 15px;
        padding: 10px 10px 10px 10px;
    }
    .lineleft {
        min-width: 160px;
    }
    .seti .fa-facebook-f, .fa-instagram, .fa-twitter, .fa-linkedin-in {
        font-size: 20px;
    }
    .blackbox {
        max-width: 160px;
    }
    .reward ul {
        margin-left: -80px;
    }
    .labels p {
        max-width: 332px;
        font-size: 10px;
    }
    .labels a {
        margin-left: 27px;
        margin-top: -35px;
        font-size: 12px;
        width: 120px;
        height: 39px;
        padding: 12px 6px 12px 17px;
    }
    #room{
        width: 300px;
        height: 198px;
    }
    .infoabout img {
        height: 70px;
        width: 120px;
    }
}
@media all and (max-width: 780px){
    .textup {
        max-width: 220px;
    }
    .infoabout {
        max-width: 642px;
    }
    .mebel{
        max-width: 530px;
    }
    .tovar {
        width: 609px;
    }

    .linkss {
        margin-left: -65px;
    }
}

@media all and (max-width: 680px){
    .labels p {
        max-width: 235px;
        font-size: 10px;
    }
    .infoabout {
        max-width: 408px;
    }
    #room{
        margin-left: 100px;
        float:none;
    }
    .labels p {
        max-width: 300px;
        font-size: 7px;
        margin-left: 100px;
        line-height: 14px;
        margin-top: 10px;
    }
    .labels a {
        margin-left: 190px;
        margin-top: -130px;
        font-size: 9px;
        width: 93px;
        height: 30px;
        padding: 8px 6px 8px 17px;
    }
    .labels ul li img{
        margin-left: 0px;
        margin-right: 0px;
        height: 30px;
        width: 60px;
    }
    .labels ul li {
        margin-right: 35px;
    }
    .labels ul {
        margin-left: 113px;
    }
    .textup2 {
        margin-left: 70px;
    }
    .textup2 p {
        width: 331px;
    }
    .delivery, .guarantee, .quality {
        margin-left: 135px;
    }
    .guarantee{
        margin-top: 20px;
    }
    .tovar {
        width: 440px;
    }
    .categories ul {
        margin-left: 3px;
    }
    .tovar img {
        width: 180px;
    }
    .tovar ul li {
        width: 190px;
        height: 330px;
    }

    .tovar ul li p span {
        font-size: 12px;
    }
    .tovar ul li p:nth-child(2) {
        max-width: 173px;
    }
    .tovar ul li p {
        width: 185px;
    }
    .tovar ul li a {
         margin: 50px 0 0 10px;
    }
    .view {
        margin-top: 930px;
        margin-left: 160px;
    }
    .catalog {
        height: 1705px;
    }
    .man p {
        font-size: 12px;
        width: 215px;
    }
    .woman p {
        font-size: 12px;
        width: 215px;
    }
    .fa-phone-alt, .fa-envelope {
        font-size: 7px;
        padding: 3px 3px 3px 3px;
        margin-right: 0px;
    }
    .seti ul li a {
        font-size: 8px;
    }
    .seti .fa-facebook-f, .fa-instagram, .fa-twitter, .fa-linkedin-in {
        font-size: 12px;
        margin-left: -4px;
    }
    .linkss h3 {
        margin-top: 25px;
        margin-bottom: 10px;
        font-size: 10px;
    }
    .linkss ul li a {
        font-size: 8px;
    }
    .faq h3 {
        margin-top: 25px;
        margin-bottom: 10px;
        font-size: 10px;
    }
    .faq ul li a {
        font-size: 8px;
    }
    .news h3 {
        font-size: 10px;
        margin-bottom: 10px;
        margin-top: 12px;
    }
    form.mail input[type=text] {
        width: 120px;
        height: 30px;
        font-size: 10px;
    }
    form.mail button {
        width: 35px;
        height: 30px;
        font-size: 9px;
    }

    .news ul li p {
        width: 120px;
        font-size: 13px;
    }
}

@media all and (max-width: 680px){
    .header-info ul li a {
        font-size: 8px;
        margin-right: 15px;
    }
    .header-info img{
        display: none;
    }
    .logo p {
        font-size: 15px;
    }
    .fa-facebook-f, .fa-instagram, .fa-twitter {
        font-size: 12px;
    }
   
}

@media all and (max-width: 580px){
    #knopkaorder{
        padding: 3px 3px 3px 5px;
        font-size: 7px;
    }
    .man {
        width: 405px;
    }
    .woman {
        width: 405px;
    }
    .seti{
        margin-top: -20px;
    }
    .seti p {
        font-size: 15px;
        margin-bottom: 0px;
    }
    .fa-phone-alt, .fa-envelope {
        font-size: 5px;
        padding: 2px 2px 2px 2px;
        margin-right: 0px;
    }
    .seti ul li a {
        font-size: 6px;
    }
    .seti .fa-facebook-f, .fa-instagram, .fa-twitter, .fa-linkedin-in {
        font-size: 10px;
        margin-left: -4px;
    }
    .linkss h3 {
        margin-top: -13px;
        margin-bottom: 0px;
        font-size: 8px;
    }
    .linkss ul li {
        margin-bottom: 4px;
    }
    .linkss ul li a {
        font-size: 7px;
    }
    .faq h3 {
        margin-top: -13px;
        margin-bottom: 0px;
        font-size: 8px;
    }
    .faq ul li {
        margin-bottom: 4px;
    }
    .faq ul li a {
        font-size: 7px;
    }
    .news h3 {
        font-size: 8px;
        margin-bottom: 10px;
        margin-top: 7px;
    }
    form.mail input[type=text] {
        width: 120px;
        height: 24px;
        font-size: 9px;
    }
    form.mail button {
        width: 35px;
        height: 25px;
        font-size: 8px;
        padding: 4px;
    }

    .news ul li p {
        width: 120px;
        font-size: 9px;
        height: 20px;
        padding: 12px 12px 13px 10px;
    }
}

@media all and (max-width: 500px){
    .backimg {
        width: 520px;
    }
    #knopkaorder{
        padding: 3px 3px 3px 5px;
        font-size: 7px;
    }
    .lineleft {
        min-width: 100px;
    }
    .lineleft ul {
        margin-left: 48px;
    }
    .linegorizont p {
        color: black;
        width: 240px;
        font-size: 14px;
    }
    .linegorizont h3 {
        width: 290px;
        font-size: 20px;
    }
    .blackbox {
        max-width: 100px;
    }
    .reward ul {
        margin-left: -136px;
    }
    
    footer {
        height: 190px;
        width: 530px;
    }
    .container-footer {
        height: 190px;
    }
    form.mail input[type=text] {
        width: 80px;
        font-size: 5px;
    }
    form.mail button {
        width: 20px;
        height: 20px;
        font-size: 5px;
        padding: 0px;
        margin-top: 3px;
        background: #373737;
        color: white;
        border: 1px solid #373737;
        margin-left: -21px;
}
    .news h3 {
        margin-top: 10px;
}
    .news ul li p {
        width: 80px;
        font-size: 8px;
        padding: 10px 12px 13px 10px;
    }
    .container-head {
        height: 60px;
    }
}

@media all and (max-width: 375px){
    .container-head {
        width: 460px;
    }
    .logo {
        margin-left: 108px;
    }
    .reward h2 {
        font-size: 30px;
    }
    #room {
        width: 250px;
        height: 155px;
        margin-left: 120px;
    }
    .labels p {
        max-width: 253px;
        font-size: 6px;
        margin-left: 125px;
    }
    .labels a {
        margin-left: 202px;
        font-size: 7px;
        width: 80px;
        height: 25px;
        padding: 7px 6px 8px 18px;
    }
    .labels ul li img {
        margin-left: 13px;
        height: 25px;
        width: 50px;
    }
    .mebel p {
        width: 308px;
        text-align: left;
        margin: 0 auto 0 59px;
    }
    form.searchmebel input[type=text] {
        margin-top: 26px;
        margin-left: 58px;
        margin-bottom: 25px;
    }
    form.searchmebel button {
        margin-top: 27px;
        margin-right: 0;
        font-size: 12px;
    }
    .categories ul li a {
        font-size: 9px;
    }
    .categories ul {
        flex-wrap: nowrap;
        margin-left: 40px;
        margin-bottom: 0px;
    }
    .mebel h5 {
        text-align: left;
        font-size: 25px;
        margin: 0px auto 15px 58px;
    }
    .textup2 {
        margin-top: 90px;
    }
    .clients {
        height: 715px;
    }
}
    /* page about */
@media all and (max-width: 1380px){
    .labels3 p {
        width: 571px;
        }
}
@media all and (max-width: 1360px){
    .main2 {
        margin-left: 110px;
    }
}
@media all and (max-width: 1335px){
    .main2 {
        margin-left: 90px;
    }
}
@media all and (max-width: 1315px){
    .main2 {
        margin-left: 70px;
    }
}
@media all and (max-width: 1295px){
    .main2 {
        margin-left: 50px;
    }
}
@media all and (max-width: 1276px){
    .main2 {
        margin-left: 30px;
    }
}
@media all and (max-width: 1255px){
    .labels2 img {
        width: 500px;
        height: 350px;
        margin-left: 499px;
    }
    .labels2 p {
        max-width: 491px;
        font-size: 16px;
        margin-top: -345px;
    }
    .labels3 img {
        width: 500px;
        height: 350px;
    }
    .labels3 p {
        max-width: 481px;
        font-size: 16px;
        margin-left: 518px;
    }
}
@media all and (max-width: 1048px){
    .labels2 img {
        width: 400px;
        height: 300px;
        margin-left: 400px;
    }
    .labels3 img {
        width: 400px;
        height: 300px;
    }
    .labels2 p {
        max-width: 393px;
        font-size: 12px;
        margin-top: -318px;
    }
    .labels3 p {
        max-width: 382px;
        font-size: 11px;
        margin-left: 419px;
    }
    .textaboutus {
        height: 660px;
    }
}
@media all and (max-width: 850px){
    .labels2 img {
        width: 300px;
        height: 200px;
        margin-left: 299px;
    }
    .labels3 img {
        width: 300px;
        height: 200px;
    }
    .labels2 p {
        max-width: 292px;
        font-size: 10px;
        line-height: 16px;
        margin-top: -187px;
    }
    .labels3 p {
        max-width: 283px;
        font-size: 10px;
        margin-left: 315px;
        line-height: 16px;
    }
    .textaboutus {
        height: 460px;
    }
}
@media all and (max-width: 650px){
    .labels2 img {
        width: 250px;
        height: 150px;
        margin-left: 249px;
    }
    .labels3 img {
        width: 250px;
        height: 150px;
        margin-top: -176px;
    }
    .labels2 p {
        max-width: 239px;
        font-size: 7px;
        line-height: 14px;
        margin-top: -143px;
    }
    .labels3 p {
        max-width: 239px;
        font-size: 7px;
        margin-left: 260px;
        line-height: 14px;
        margin-top: -6px;
    }
    .textaboutus {
        height: 370px;
    }
}
@media all and (max-width: 550px){
    .breadcrumbs {
        font-size: 10px;
    }
    .oblozhka {
        width: 530px;
    }
    .labels2 p {
        float: none;
        margin-left: 122px;
        margin-top: 0px;
    }
    .labels2 img {
        float: none;
        margin-top: -25px;
        margin-left: 114px;
    }
    .labels2{
        height: 250px;
    }
    .textaboutus {
        height: 590px;
    }
    .labels3 p {
        float: none;
        margin-top: 29px;
        margin-left: 122px;
    }
    .labels3 img {
        float: none;
        margin-top: -46px;
        margin-left: 116px;
    }
}
@media all and (max-width: 420px){
    .labels2 p {
        font-size: 6px;
        line-height: 11px;
        margin-left: 146px;
    }
    .labels3 p {
        float: none;
        margin-top: 5px;
        margin-left: 146px;
        max-width: 191px;
        font-size: 6px;
        line-height: 11px;
    }
    .textaboutus {
        margin-left: -42px;
        height: 510px;
    }
    .labels2 p {
        margin-left: 116px;
    }
    .labels3 p {
        max-width: 238px;
        margin-top: -9px;
        margin-left: 116px;
    }
    .labels3 img {
        margin-top: -76px;
    }
}

                /* page service*/
@media all and (max-width: 400px){
    .main5 {
        margin-left: 118px;
    }
    .backdel p {
        font-size: 14px;
        margin-top: 45px;
    }
    .backguar p {
        font-size: 14px;
        margin-top: 45px;
    }
    .backqual p {
        font-size: 14px;
        margin-top: 45px;
    }
}

        /* page furniture*/
@media all and (max-width: 1340px){
    .furncat {
        margin-left: 0px;
    }
}
@media all and (max-width: 1290px){
    .furncat {
        margin-left: -20px;
    }
    .dropdown-content{
        width: 215px;
    }
}
@media all and (max-width: 1270px){
    .furncat {
        margin-left: -40px;
    }
    .dropbtn {
        width: 98px;
        margin-left: 55px;
        margin-top: 49px;
    }
}
@media all and (max-width: 1250px){
    .furncat {
        margin-left: -60px;
    }
    .dropdown-content {
        width: 195px;
    }
}
@media all and (max-width: 1230px){
    .tovar2 {
        height: 1468px;
        width: 590px;
        margin-left: 164px;
        overflow-y: hidden;
    }
    .furncat {
        margin-left: 20px;
    }
    .furnit {
        height: 1725px;
    }
    .stran {
        margin-top: 33px;
        margin-left: 365px;
    }   
}
@media all and (max-width: 1050px){
    .furncat {
        margin-left: -10px;
    }
}
@media all and (max-width: 1020px){
    .furncat {
        margin-left: -30px;
    }
}
@media all and (max-width: 1000px){
    .furncat {
        margin-left: -50px;
    }
}
@media all and (max-width: 980px){
    .furncat {
        margin-left: -70px;
    }
}
@media all and (max-width: 960px){
    .dropdown-content {
        width: 190px;
    }
    .dropdown-content p {
        padding-left: 0.5em;
    }
    .form-range {
        width: 189px;
    }
    #max {
        margin-left: 157px;
    }
}
@media all and (max-width: 920px){
    .tovar2 {
        height: 1457px;
        width: 435px;
    }
    .tovar2 img {
        width: 180px;
    }
    .tovar2 ul {
        margin-top: 25px;
    }
    .tovar2 ul li {
        width: 190px;
        height: 330px;
    }
    .tovar2 ul li p span {
        font-size: 12px;
    }
    .tovar2 ul li p:nth-child(2) {
        max-width: 173px;
    }
    .tovar2 ul li p {
        width: 185px;
    }
    .tovar2 ul li a {
         margin: 50px 0 0 10px;
    }
    .stran {
        margin-left: 290px;
    }
}
@media all and (max-width: 760px){
    .furncat {
        margin-left: -90px;
    }
    .dropbtn {
        width: 90px;
        margin-left: 17px;
        margin-top: 73px;
        font-size: 14px;
    }
.dropdown-content {
    width: 160px;
    }
}
@media all and (max-width: 750px){
    .dropdown-content {
        width: 135px;
    }
    .dropdown-content p {
        width: 105px;
    }
    .form-check {
        font-size: 12px;
    }
    .form-range {
        width: 133px;
    }
    #max {
        margin-left: 100px;
    }
}
@media all and (max-width: 690px){
    .furncat {
        margin-left: -110px;
    }
}
@media all and (max-width: 665px){
    .furncat {
        margin-left: -130px;
    }
    .dropdown-content {
        width: 116px;
    }
}
@media all and (max-width: 630px){
    .dropdown-content p {
        font-size: 8px;
    }
    .form-check {
        font-size: 7px;
        padding-left: 0.5em;
    }
    .form-range {
        width: 91px;
        height: 0.5rem;
    }
    #max {
        margin-left: 73px;
    }
    .dropdown-content {
        width: 92px;
    }
    .dropbtn {
        width: 61px;
        margin-left: 20px;
        margin-top: 79px;
        font-size: 8px;
    }
    .form-switch .form-check-input {
        margin-left: -0.5em;
    }
    #max {
        font-size: 9px;
        margin-left: 71px;
    }
    .form-label {
        margin-left: 4px;
        font-size: 9px;
    }   
}
@media all and (max-width: 590px){
    .dropdown-content {
        display: none;
    }
    .tovar2 {
        margin-left: 69px;
    }
    .stran {
        margin-left: 198px;
    }
}