* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* header */
.container {
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
}