
/*  Fonts  */
@font-face {
    font-family: 'raleway-regular';
    src: url('../fonts/raleway-regular.eot');
    src: url('../fonts/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular.woff') format('woff'),
         url('../fonts/raleway-regular.ttf') format('truetype'),
         url('../fonts/raleway-regular.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'raleway-bold';
    src: url('../fonts/raleway-bold.eot');
    src: url('../fonts/raleway-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-bold.woff') format('woff'),
         url('../fonts/raleway-bold.ttf') format('truetype'),
         url('../fonts/raleway-bold.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'raleway-semibold';
    src: url('../fonts/raleway-semibold.eot');
    src: url('../fonts/raleway-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-semibold.woff') format('woff'),
         url('../fonts/raleway-semibold.ttf') format('truetype'),
         url('../fonts/raleway-semibold.svg#ralewaysemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}



h1, h2, h3, h4, h5 ,h6{
    color: #FF2625;
    font-family: "raleway-regular", arial;
    letter-spacing: 1px;
}

h1              { font-size: 2em;}
h2              { font-size: 1.5em;}
h3              { font-size: 1.17em;}
h5              { font-size: .83em;}
h6              { font-size: .75em;}
h1, h2, h3, h4,
h5, h6          { font-weight: bolder }

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
 
.clearfix {  
    *zoom: 1;  
}

.container{
    width: 1100px;
    margin: 0 auto;
}





/*  header  */
header{
    width: 100%;
    height: 90px;
    background: #E5E5E5;
    position: relative;
}

header .logo{
    margin-top: 37px;
    float: left;
}

header nav{
    float: left;
    margin-top: 45px;
}

header nav ul li{
    list-style: none;
    float: left;
    margin-left: 45px;
}

header nav ul li a{
    text-decoration: none;
    color: #5e5d5d;
    font-family: "raleway-regular", arial;
    font-size: 24px;
    letter-spacing: .5px;
   

    
}

header nav ul li a:hover,
header nav ul .selected{
    color: rgba(255, 38, 37, 0.6)
}


/*  content  */
.services{
    padding: 100px 0;
    border-bottom: 1px solid pink;
}
.girlimg h3{
    font-size:120px;
    color:rgba(255, 38, 37, 0.05)
}

.girlimg img{
    float: right;
    margin-top: -120px;
}

.girlimg span{
    font-family: "raleway-regular", arial;
    font-size: 65px;
    color: rgba(255, 38, 37, 0.6)
}
.section_title{
    width: 333px;
    height: auto;
    margin-right: 50px;
    float: left;
}

.bigletters h2{
    color: pink;
    font-family: "raleway-bold", arial;
    font-size: 50px;
    font-weight: bold;
    margin:75px 0px 13px -109px;
}

.services h3{
    margin: 20px;
}

.services .services_list{
    width: 796px;
    float: left;
    margin-left: 199px;
}

.services .services_list ul{
    list-style: none;
}

.services .services_list ul li{
    width: 212px;
    float: right;
    margin-right: 30px;
}



.services .services_list h3{
    color: #5e5e5e;
    font-family: "raleway-bold", arial;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 24px;
    margin-left: -16px;
}


/*  trainers  */
.trainer{
    padding: 100px 0;
}
.trainer h2{
    color: pink;
    font-family: "raleway-bold", arial;
    font-size: 50px;
    margin-left: 84px;
    margin-top: -39px;
}


.trainers_list ul li{
    float: left;
    margin-right: 50px; 
    list-style-type: none;
   
}

.trainers_list h2{
    font-size: 25px;
    margin-left: 83px;
}



/*  podpis */
.subscr{
    width: 100%;
    padding: 100px 0;
    background: #fafafa;
    text-align: center;
}

.subsc_title{
    color: #5e5e5e;
    font-family: "raleway-bold", arial;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 70px;
}

.subscr a{
    text-decoration: none;
    padding: 20px 40px;    
    background-color: #ff4141;
    color: #fff;
    font-family: "raleway-regular", arial;
    font-size: 18px;
    letter-spacing: .5px;


    border-radius: 2px;
    -o-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;

    transition:all .2s linear;
    -o-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -webkit-transition:all .2s linear;
    

}



/*  footer  */
footer{
    padding: 100px 0;
}

footer .copyright{
    width: 333px;
    height: auto;
    margin-right: 50px;
    float: left;
}

 .copyright .footer_logo{
    margin-bottom: 38px;
    float: left;
}

footer .copyright p{
    color: #8d8b8b;
    font-family: "raleway-regular", arial;
    font-size: 11px;
    letter-spacing: .5px;
    margin-bottom: 15px;
    margin-right: 164px
}


footer .footer_links{
    width: 717px;
    float: right;
}

footer .footer_links .columns{
    width: 212px;
    float: left;
    margin-right: 40px;
    
}


footer .footer_links .columns_title{
    color: #5e5e5e;
    font-family: "raleway-bold", arial;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 50px;
    
}


footer .footer_links ul li{
    list-style: none;
    display: block;
    margin-bottom: 30px;
}

footer .footer_links ul li a{
    text-decoration: none;
    color: #8c8b8b;
    font-family: "raleway-regular", arial;
    font-size: 14px;
    letter-spacing: .5px;
    margin-top: -33px;
    margin-left: -38px;
}
