*{
    box-sizing: border-box;
}

body{
    max-width: 1440px;
    margin: 0 auto;
    background: white;
    font-family: 'Roboto', sans-serif;
}

header{
    background-image: url(../img/logogirl.jpg);
    background-repeat: no-repeat;
    width: 1440px;
    height: 762px;
}

.header-info{
    margin: 0 auto;
    width: 1370px;
    height:111px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

a{
    text-decoration: none;
}

.contacts a{
    color: #E9E9E9;
    font-size: 12px;
    text-transform: uppercase;
    margin-right: 40px;
}
.btnlogo{
    height: 571px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}
.btnlogo button{
    border: 1px solid #FFFFFF;
    background-color: transparent;
    border-radius: 50px;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    width: 169px;
    height: 38px;
    padding: 13px 0;
}

          /*shmotki*/
.scroll{
    height: 690px;
    
}
.zag p{
    border: 0px solid transparent;
    width: 997px;
    height: 73px;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: #757575;
    margin-bottom: 45px;
    margin-left: 222px;

}         
.images{
    width: 1440px;
    height: 561px;
    overflow: hidden;
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}


.images span{
    border: 1px solid transparent;
    border-radius: 25px;
    position: static;
    height: 41px;
    padding: 10px 96px 10px 96px;
    font-size: 14px;
    line-height:21px;
    color: #757575;
    margin-right: 8px;
}

                     /*gong*/
.back{
    width: 1370px;
    height: 777px;
    background-image: url(../img/gong.jpg);
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.back p:first-child{
    font-size: 26px;
    line-height: 14px;
    color: #FFFFFF;
    margin-top: 56px;
    margin-bottom: 14px;
}
.back p:nth-child(2){
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    
}

.btngong{
    height:608px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

    
}
.btngong button{
    border: 1px solid #FFFFFF;
    background-color: transparent;
    border-radius: 50px;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    width:105px;
    height:36px;
    padding: 11px 0;
}

                    /*material*/
.scroll2{
    height: 721px;
    overflow: hidden;
}
.images2 span{
    position: absolute;
    height: 104px;
    width: 342px;
    border: 1px solid #FFFFFF;
    background: #FFFFFF;
    border-radius: 25px;
    padding: 13px 25px 7px 15px;
    font-size: 14px;
    line-height:21px;
    color: #757575;
    margin-top: -67px;

}         
.images2{
    width: 1440px;
    height: 561px;
    overflow: hidden;
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}
.zag2{
    margin-top: 75px;
    margin-bottom: 49px;
}
.zag2 p{
    border: 0px solid transparent;
    width: 997px;
    height: 73px;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: #757575;
    margin-bottom: -49px;
    margin-left: 222px;
}

                    /*famous*/
.famous{
    display: flex;
    width: 1160px;
    height: 416px;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto; 
    }    

.famous p{
    border: 0px solid transparent;
    width: 197px;
    height: 54px;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #848484
}

.line1{
        display: flex;
        flex-direction: column;
    }

.line2{
        display: flex;
        flex-direction: column;  
    }

.line3{
        display: flex;
        flex-direction: column;      
    }

.line1 p{
       margin-top:33px;
       margin-bottom: 67px;
    }

.line3 p{
        margin-top:33px;
        margin-bottom:60px;
     }

 .line2 p{
        margin-top:30px;
        margin-bottom: 69px;
     }

  