*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
img{
    max-width: 100%;
}
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1180px;
    margin-right: auto;
    margin-left: auto;
}
                    /* header */
.header{
    background: #000000;
}
.header-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}
.logotext{
    display: flex;
    align-items: center;
}
.header-list{
    display: flex;
}
/* .header-item:not(:nth-child(5)){
    margin-right: 40px;
} */
.header-item a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 58px;
}
.last a{
    margin-left: 438px;
}
.header-item a:hover {
    color: #F9804B;
}
.last a:hover{
    color: #F9804B;
}
.header-item a:focus {
    color: #F9804B;
}
                    /* panda */
.panda{
    height: 700px;
    background-image: url(../img/GiantPanda.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.text-but{
    width: 500px;
    margin-left: 585px;
}
.panda-text img{
    margin-top: 12px;
}
.panda-text p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 106px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: -397px;
    margin-left: 145px;
}
.yellow-word{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 106px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    color: #FFEE2E;
    margin-left: -65px

}
#text-animal{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 106px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 125px;
    margin-top: -105px;
}
#text-online{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 106px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 138px;
    margin-top: -105px;
    margin-bottom: 0px;
}
.panda-but{
    margin-top: 80px;
}
.panda-but a{
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);;
    border-radius: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 16px 95px;
    margin-left: 180px;
}
                /* chb */
.chb{
    height: 605px;
    background-image: url(../img/flower_foto1.png);
    background-repeat: no-repeat;
    background-position: right;
}
.ded{
    padding: 140px 0px 0px 0px;
    width: 1180px;
    display: flex;
    justify-content: space-between;
}
.ded-text{
    width: 465px;
}
.ded-text h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #333B41;
    margin-top: 0px;
}
.ded-text p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #333B41;
}
.ded-text h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #333B41;
}
