*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}

a{
    text-decoration:none;
}

.mountain{
    margin: 0 auto;
    height: 2400px;
    background-image: url(../img/firstbg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;
}

/* навигационная панель */
.nav{
    max-width: 1284px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    margin-left: 64px;
    margin-top: 56px;
}
.logo{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 29px;
}
.info ul{
    display: flex;
}
.info ul li:not(:last-child) a{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 29px;
    margin-right: 24px;
    color: #000000;
}
#last{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 29px;
    margin-right: 24px;
    background: rgba(253, 180, 97, 0.82);
    border-radius: 4px;
    padding: 0px 10px 3px 10px;
    margin-right: 0;
}
.info ul li:last-child a{
    color: rgba(62, 34, 3, 0.82);
}
.container{
    max-width: 1156px;
    margin: 0 auto;
}
/* текст с кнопками */
.text1{
    max-width: 713px;
    height: 475px;
    margin-top: 218px;
}
.text1 h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 86px;
    color: #000000;
    margin-bottom: 40px;
}
.text1 p{
    max-width: 639px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.8);
}
.btn-primary{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: rgba(62, 34, 3, 0.82);
    background-color: rgba(253, 180, 97, 0.82);
    border-radius: 8px;
    border-color:rgba(253, 180, 97, 0.82);
    padding: 8px;
    margin-top: 32px;
    margin-right: 24px;
}
.btn-outline-warning{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    border: 3px solid rgba(62, 34, 3, 0.82);
    color: rgba(62, 34, 3, 0.82);;
    border-color: rgba(62, 34, 3, 0.82);
    margin-top: 32px;
}
/* фото животных и текст */
.pics1{
    max-width: 442px;
    height: 672px;
    margin-top: 580px;
    margin-left: -39px;
}
.pictext{
    max-width:1156px;;
    display: flex;
    justify-content: space-between;
}
.text2{
    max-width: 639px;
    height: 539px;
    margin-top: 634px;
}
.text2 h2{
    max-width: 550px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.text2 p{
    max-width: 639px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 30px;
}
.text2 a{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: rgba(253, 180, 97, 0.82);
}
.dogcomment{
    width: 631px;
    height: 124px;
    margin-left: 492px;
    margin-top: 20px;
}
.dogcomment img{
    float: left;
    border-radius: 100px; 
    margin-right: 24px;
}
.dogcomment p{
    max-width: 602px;
    font-family: Poppins;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: rgba(255, 255, 255, 0.9);
}
#fio{
    margin-left: 86px;
    margin-top: 25px;
    color: rgba(255, 255, 255, 0.6);
}
    /* секция2 */
.stars{
    margin: 0 auto;
    height: 2293px;
    background-image: url(../img/secondbg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;
}
.container2{
    max-width: 1188px;
    margin: 0 auto;
}
.pics2{
    float: right;
    margin-top: -85px;
}
.text3{
    max-width: 639px;
    height: 540px;
}
.text3 h2{
    max-width: 550px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.text3 p{
    max-width: 639px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 30px;
}
.text3 a{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: rgba(253, 180, 97, 0.82);
}
.comments{
    width: 631px;
    height: 315px;
    margin-top: 122px;
}
.comments img{
    float: left;
    border-radius: 100px; 
    margin-right: 24px;
}
.comments p{
    max-width: 631px;
    font-family: Poppins;
    font-style: italic;
    font-weight: normal;
    font-size: 17px;
    line-height: 27px;
    color: rgba(255, 255, 255, 0.9);
}
#fio{
    margin-left: 86px;
    margin-top: 25px;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
}
/* текст и кнопки */
.text4{
    max-width: 993px;
    height: 475px;
    margin-top: 485px;
}
.text4 h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 86px;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.text4 p{
    max-width: 639px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.9);
}
.btn-primary{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: rgba(62, 34, 3, 0.82);
    background-color: rgba(253, 180, 97, 0.82);
    border-radius: 8px;
    border-color:rgba(253, 180, 97, 0.82);
    padding: 8px;
    margin-top: 32px;
    margin-right: 24px;
}
.btn-outline-warning{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    border: 3px solid rgba(62, 34, 3, 0.82);
    color: rgba(253, 180, 97, 0.82);
    border-color: rgba(253, 180, 97, 0.82);
    margin-top: 32px;
}
.copy{
    margin-top: 255px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
}
/* медиазапросы */

@media all and (max-width: 1155px){
    .dogcomment{
        margin-left: 471px;
    }
}
@media all and (max-width: 1145px){
    .text2 h2 {
        font-size: 55px;
    }
    .text2 p {
        max-width: 580px;
        font-size: 16px;
    }
    .dogcomment {
        margin-left: 330px;
    }
}
@media all and (max-width: 1070px){
    .pics1 img{
        width: 400px;
    }
    .pics1 {
        margin-left: 0px;
    }
    .pics2 img{
        width: 400px;
    }
    .text3 h2 {
        font-size: 55px;
    }
    .text3 p {
        max-width: 545px;
    }
    .text4 h2 {
        font-size: 60px;
    }
}
@media all and (max-width: 990px){
    .info ul li:not(:last-child) a {
        font-size: 12px;
    }
    .info ul li:last-child a {
        font-size: 12px;
    }
    .pics1 img{
        width: 350px;
    }
    .text2 h2{
        font-size: 46px;
    }
    .text2 p{
        max-width: 469px;
        font-size: 14px;
        line-height: 27px;
    }
    .text2 a{
        font-size: 15px;
    }
    .dogcomment{
        margin-left: 50px;
    }
    .dogcomment p{
        font-size: 15px;
    }
    .pics2 img{
        width: 350px;
    }
    .text3 h2 {
        font-size: 46px;
    }
    .text3 p {
        max-width: 469px;
        font-size: 14px;
        line-height: 27px;
    }
    .text3 a {
        font-size: 15px;
    }
    .comments p {
        font-size: 15px;
    }
    .text4 h2 {
        font-size: 50px;
    }
}
@media all and (max-width: 780px){
    .logo {
        font-size: 10px;
    }
    .info ul li:not(:last-child) a{
        font-size: 9px;
    }
    .info ul li:last-child a{
        font-size: 9px;
    }
    .text1 h2 {
        font-size: 55px;
    }
    .text1 p {
        max-width: 467px;
        font-size: 16px;
        line-height: 30px;
        color: white;
        border-radius: 8 px;
        background-color: rgba(62, 34, 3, 0.3);
    }
    .text1 {
        margin-top: 135px;
    }
    .pics1 {
        margin-top: 270px;
    }
    .text2 {
        margin-top: 275px;
    }
    .pics2 {
        margin-top: -112px;
    }
    .mountain {
         height: 2060px;
    }
    .comments p {
        max-width: 492px;
        font-size: 13px;
    }
    .text4 {
        margin-top: 137px;
    }
    .text4 h2 {
        font-size: 32px;
    }
    .text4 p {
        max-width: 500px;
        font-size: 15px;
    }
    .stars {
        height: 1939px;
    }
}
@media all and (max-width: 710px){
    .pics1 img{
        width: 300px;
    }
    .text2 h2 {
        font-size: 40px;
        line-height: 60px;
    }
    .dogcomment p {
        max-width: 460px;
    }
    .pics2 img{
        width: 300px;
    }
    .info ul li:not(:last-child) a {
        margin-right: 15px;
    }
    .text3 {
        max-width: 320px;
    }
    .text3 h2 {
        font-size: 40px;
        line-height: 55px;
        margin-top: -100px;
    }
    .text3 p {
        font-size: 11px;
        line-height: 20px;
    }
    .comments {
        margin-top: 60px;
        max-width: 500px;
    }
    .text4 h2 {
        font-size: 28px;
        line-height: 45px;
    }
    .copy {
        margin-top: 165px;
    }
    .stars {
        height: 1813px;
    }
    .container2 {
        max-width: 538px;
    }
    .container {
        max-width: 600px;
    }
    .dogcomment {
        max-width: 470px;
    }
}
@media all and (max-width: 590px){
    .logo {
        margin-left: 179px;
    }
    .pics1 img {
        width: 250px;
    }
    .text2 h2 {
        font-size: 28px;
        line-height: 40px;
    }
    .text2 p {
        max-width: 287px;
        font-size: 10px;
        line-height: 17px;
    }
    .text2 a {
        font-size: 10px;
    }
    .dogcomment {
        margin-top: -185px;
    }
    .dogcomment p {
        font-size: 10px;
        line-height: 23px;
    }
    .mountain {
        height: 1845px;
    }
    .pics2 img {
        width: 250px;
    }
    .text3 h2 {
        font-size: 28px;
        line-height: 40px;
    }
    .text3 p {
        max-width: 290px;
        font-size: 10px;
        line-height: 17px;
    }
    .text3 a {
        font-size: 10px;
    }
    .comments {
        margin-top: -45px;
    }
    .comments p {
        max-width: 492px;
        font-size: 10px;
        line-height: 19px;
    }
    .comments img {
        width: 45px;
    }
    #fio {
        margin-left: 68px;
    }
    .dogcomment img {
        width: 45px;
    }
    .text4 h2 {
        font-size: 22px;
        line-height: 35px;
    }
    .text4 p {
        max-width: 453px;
        font-size: 13px;
    }
    .stars {
        height: 1656px;
    }
}

@media all and (max-width: 533px){
    .nav {
        margin-top: 8px;
    }
    .text1 h2{
        font-size: 45px;
        line-height: 60px;
    }
    .dogcomment p{
        max-width: 392px;
    }
    .container2{
        max-width: 480px;
    }
    .comments p{
        max-width: 377px;
    }
    .info{
        margin-left: -26px;
    }
    .logo{
        margin-left: 151px;
    }
}
@media all and (max-width: 520px){
    .text1 h2 {
        font-size: 36px;
        line-height: 56px;
    }
    .container {
        max-width: 480px;
    }
    .container2 {
        max-width: 470px;
    }
    .text4 {
        margin-top: 35px;
    }
    .stars {
        height: 1554px;
    }
    .mountain {
        width: 600px;
    }
    .nav {
        margin-top: 0px;
    }
    .stars {
        width: 600px;
    }
}
@media all and (max-width: 490px){
    .info ul li:not(:last-child) a {
        margin-right: 10px;
        font-size: 6px;
    }
    .info ul li:last-child a {
        font-size: 6px;
    }
    .nav {
        max-width: 493px;
    }
    .logo {
        margin-left: 205px;
    }
    .text1 h2 {
        font-size: 20px;
    }
    .info {
        margin-left: 86px;
    }
    .dogcomment p {
        max-width: 407px;
    }
}